<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://www.springframework.org/schema/beans
        https://www.springframework.org/schema/beans/spring-beans.xsd">
        <bean
        id="ds" class="com.tcs.dao.DataSource">
        <property name="Url" value="sqluser"></property>
        <property name="UserName" value="Prashant"></property>
        <property name="Password" value="password"></property>
        
        </bean>
        
        <bean id="dao" class="com.tcs.dao.MyDao">
        <property name="datasource" ref="ds"></property>
        
        </bean>
        
        </beans>
        